<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${group}" class="alert alert-dark mt-3">
        <h3 th:text ="*{el.group_name}"/>
        <div th:each="s : ${inGroupStudents}">
            <p th:text="*{s.second_name} + '   ' + *{s.first_name}"></p>
        </div>

    </div>
</div>
</body>
</html>