<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Instructors screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Instructors screen</h1>
    <div th:each="el : ${instructors}" class="alert alert-info mt-5">
        <h3 th:text="${el.first_name} + '    ' + ${el.second_name}"/>
        <a th:href="'/instructors/' + ${el.id}" class="btn btn-warning">More</a>
    </div>

</div>

<div class="container mt-5">
    <a class="btn btn-secondary " href="/instructors/add" role="button">Add instructor</a>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>