<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Instructors screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<head>
    <script>
        function validateForm() {
          var first_name = document.forms["addInstructorForm"]["first_name"].value;
          var second_name = document.forms["addInstructorForm"]["second_name"].value;
          var patronymic = document.forms["addInstructorForm"]["patronymic"].value;
          var driver_license = document.forms["addInstructorForm"]["driver_license"].value;

          if (first_name == "" || first_name == null) {
            alert("Empty field for name");
            return false;
          }

          if (second_name == "" || second_name == null) {
            alert("Empty field for surname");
            return false;
          }

          if (patronymic == "" || patronymic == null) {
            alert("Empty field for patronymic");
            return false;
          }

          if (type_of_licence == "" || type_of_licence == null) {
            alert("Empty field for balance");
            return false;
          }
        }
    </script>
</head>

<div class="container mt-5 mp-5">
    <h1>Add instructor</h1>
    <form name="addInstructorForm" action="/instructors/add" onsubmit="return validateForm()" method="post">
        <input type="text" name="first_name" placeholder="Input first name" class="form-control"><br>
        <input type="text" name="second_name" placeholder="Input second name" class="form-control"><br>
        <input type="text" name="patronymic" placeholder="Input patronymic" class="form-control"><br>
        <input type="text" name="type_of_licence" placeholder="Input driver license category" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add instructor</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>