<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Instructors screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Instructors screen</h1>
    <div th:each="el : ${instructors}" class="alert alert-info mt-2">
        <h3 th:text="el.first_name"></h3>
        <h3 th:text="el.second_name"></h3>
        <h3 th:text="el.patronymic"></h3>
        <h3 th:text="el.type_of_licence"></h3>
        <a th:href="'/instructor/' + ${el.id}">More</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>