<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit instructor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5">
    <h1>Edit instructor</h1>
    <div th:each="el : ${instructors}">
        <form method="post">
            <input type="text" th:value="${el.first_name}" placeholder="Input first name" class="form-control"><br>
            <input type="text" th:value="${el.second_name}" placeholder="Input second name" class="form-control"><br>
            <input type="text" th:value="${el.patronymic}" placeholder="Input patronymic" class="form-control"><br>
            <input type="text" th:value="${el.type_of_licence}" placeholder="Input type of licence" class="form-control"><br>
            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>
</body>
</html>