<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=checkbox] {
        margin-center: 190px;
        width: 200px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<head>
    <title>Registration page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<!--
<div class="container-fluid text-center">
    <form th:action="@{/registration}" method="post">
        <div class="border border-secondary p-3 rounded">

            <h5>Create an account on crm site</h5>

            <p>
                <input type="text" id="username" placeholder="Username" name="username" autofocus="autofocus" /> <br />
            </p>

            <p>
                <input type="password" id="password" placeholder="Password" name="password" autofocus="autofocus" /> <br />
            </p>

            <p>
                <input type="submit" value="Sign in" class="btn btn-primary mb-5"/>
            </p>

            <label>Role:</label>
            <input type="radio" value="Student" />Student
            <input type="radio"  value="Teacher" />Teacher<br/>

        </div>
    </form>
</div>
-->



<div class="container-fluid text-center mt-5 mp-5 ">
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <h5>Create an account</h5>
        <input type="text" th:field="*{username}" placeholder="Username" name="username" autofocus="autofocus" class="mb-1"/><br> <!-- везде к классу можно приписать form-control и будет симпатичная бутовская фигня-->
        <input type="text" th:field="*{password}" placeholder="Password" name="password" autofocus="autofocus" class="mb-1"/><br> <!-- не дописал тк широченный дропдаун получается -->
        <input type="text" th:field="*{email}" placeholder="Email" name="email" autofocus="autofocus" class="mb-1"><br>
        <input type="text" th:field="*{userFirstName}" placeholder="Your name" name="userFirstName" autofocus="autofocus" class="mb-1"><br>
        <input type="text" th:field="*{userSecondName}" placeholder="Your second name" name="userSecondName" autofocus="autofocus" class="mb-1"><br>
        <input type="text" th:field="*{userPatronymic}" placeholder="Your patronymic" name="userPatronymic" autofocus="autofocus" class="mb-1"><br>
        <select  th:field="*{userRole}" name="userRole" >
            <option th:each="p : ${listRole}" th:value="${p}" th:text="${p}"/>
        </select>
        <br/>
        <p>
            <input type="submit" value="Submit" class="btn btn-primary mt-1 mb-2"/>
        </p>
    </form>
</div>
<a href="/login">Back to login</a>
</body>
</html>