<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<head>
    <script>
        function validateForm() {
          var first_name = document.forms["addStudentForm"]["first_name"].value;
          var second_name = document.forms["addStudentForm"]["second_name"].value;
          var patronymic = document.forms["addStudentForm"]["patronymic"].value;
          var balance = document.forms["addStudentForm"]["balance"].value;

          if (first_name == "" || first_name == null) {
            alert("Empty field for name");
            return false;
          }

          if (second_name == "" || second_name == null) {
            alert("Empty field for surname");
            return false;
          }

          if (patronymic == "" || patronymic == null) {
            alert("Empty field for patronymic");
            return false;
          }

          if (balance == "" || patronymic == balance) {
            alert("Empty field for balance");
            return false;
          }
        }
    </script>
</head>

<div class="container mt-5 mp-5">
    <h1>Edit student</h1>
    <div th:each="el : ${student}">
        <form method="post">
            <input type="text" th:value="${el.first_name}" name="first_name" placeholder="Input first name" class="form-control"><br>
            <input type="text" th:value="${el.second_name}" name="second_name" placeholder="Input second name" class="form-control"><br>
            <input type="text" th:value="${el.patronymic}" name="patronymic" placeholder="Input patronymic" class="form-control"><br>
            <input type="number" th:value="${el.balance}" name="balance" placeholder="Input student's balance" class="form-control"><br>
            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>