
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Students screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    body{
    background: #F5F7FA;
    }
</style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<head>
    <script>
        function validateForm() {
          var first_name = document.forms["addStudentForm"]["first_name"].value;
          var second_name = document.forms["addStudentForm"]["second_name"].value;
          var patronymic = document.forms["addStudentForm"]["patronymic"].value;
          var balance = document.forms["addStudentForm"]["balance"].value;

          if (first_name == "" || first_name == null) {
            alert("Empty field for name");
            return false;
          }

          if (second_name == "" || second_name == null) {
            alert("Empty field for surname");
            return false;
          }

          if (patronymic == "" || patronymic == null) {
            alert("Empty field for patronymic");
            return false;
          }

          if (balance == "" || patronymic == balance) {
            alert("Empty field for balance");
            return false;
          }
        }
    </script>
</head>

<div class="container mt-5">
    <div th:each="el : ${student}" class="alert alert-dark mt-2"> <!-- Такой же как и в контроллере -->
        <p th:text="'Name: ' + ${el.first_name}"/>
        <p th:text="'Second name: ' + ${el.second_name}"/>
        <p th:text="'Patronymic: ' + ${el.patronymic}"/>
        <p th:text="'Balance: ' + ${el.balance}"/>
<!--        <a class="nav-item" sec:authorize="hasAnyRole('ADMIN','TEACHER')">-->
            <a th:href="'/students/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
            <form th:action="'/students/' + ${el.id} + '/delete'" method="post">
                <button class="btn btn-outline-dark" type="submit">Delete</button>
            </form>
<!--        </a>-->
    </div>
</div>

<div class="container mt-5">
    <a class="btn btn-secondary " href="/students/add" role="button">Edit student</a>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>