
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<head>
    <script>
        function validateForm() {
          var first_name = document.forms["addStudentForm"]["first_name"].value;
          var second_name = document.forms["addStudentForm"]["second_name"].value;
          var patronymic = document.forms["addStudentForm"]["patronymic"].value;
          var balance = document.forms["addStudentForm"]["balance"].value;

          if (first_name == "" || first_name == null) {
            alert("Empty field for name");
            return false;
          }

          if (second_name == "" || second_name == null) {
            alert("Empty field for surname");
            return false;
          }

          if (patronymic == "" || patronymic == null) {
            alert("Empty field for patronymic");
            return false;
          }

          if (balance == "" || patronymic == balance) {
            alert("Empty field for balance");
            return false;
          }
        }
    </script>
</head>

<div class="container mt-5">
    <div th:each="el : ${student}" class="alert alert-dark mt-2"> <!-- Такой же как и в контроллере -->
        <p th:text="${el.first_name}"/>
        <p th:text="${el.second_name}"/>
        <p th:text="${el.patronymic}"/>
        <p th:text="${el.balance}"/>
        <a th:href="'/students/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action="'/students/' + ${el.id} + '/delete'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>

<div class="container mt-5">
    <a class="btn btn-secondary " href="/students/add" role="button">Edit student</a>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>