<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students screen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<form action="/user" method="post">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el:${users}" class="alert alert-info">
            <td th:text="${el.username}"></td>
            <td th:text="${el.roles}"></td>
            <td><a th:href="'/user/' + ${el.id}"> Edit</a></td>
        </tr>

        </tbody>
    </table>
</form>

</body>
</html>